body {
    font-family: Arial, Helvetica, sans-serif;
    color: #333333;
    margin: 0;
    padding: 0;
}

h1 {
    margin-top: 0;
    color: #001D5B;
    font-size: xx-large;
}

h2 {
    color: #001D5B;
}

h3 {
    margin-top: 0;
}

nav {
    width: 100%;
    display: block;
    margin: 0;
}

nav ul {
    display: flex;
    justify-content: flex-start;
    list-style-type: none;
    margin: 0;
    margin-bottom: 10px;
    padding: 0;
    overflow: hidden;
    background-color: #BAEFFD;
    width: 100%;
}

nav li {
    float: left;
}

nav li a {
    display: block;
    color: #333333;
    text-align: center;
    padding: 10px 16px;
    text-decoration: none;
    font-weight: bold;
}

nav li a:hover {
    background-image: linear-gradient(to bottom, #BAEFFD, #A1D9EF);
}

.circular-image {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    object-fit: cover;
}

.container {
    display: flex;
    align-items: left; 
    gap: 20px; 
    padding: 20px;
}

.page-holder {
    padding: 20px;
}

.contact-info {
    margin-top: 0;
}

.contact-info h1 {
    margin-top: 0;
}

.projects-section {
    margin-top: 0;
}

.projects-section h1 {
    margin-top: 0;
}

.node {
    fill: lightblue;
    stroke: steelblue;
    stroke-width: 1.5px;
}

.node:hover {
    fill: orange;
}